.border {
    /* height: 500px;
    width: 500px;
    border: 5px solid black; */
    /* margin-left: 200px; */
    /* background-color: rgb(144, 91, 194); */

}

h1 {
    font-size: 50px;
}

.center {
    margin-top: 100px;
    text-align: center;

}

#myinput {
    height: 30px;
    width: 400px;
    border-radius: 10px;
    border: 3px solid black;
}

#mysubmit {
    height: 35px;
    width: 120px;
    background-color: rgba(49, 19, 247, 0.607);
    color: black;
    font-size: 15px;
    border-radius: 10px;
    border: 3px solid black;


}

#mysubmit:hover {
    color: white;
}

.mylist {

    margin-left: 450px;
    font-size: 20px;


}


.delete {
    position: absolute;
   margin-left: 100px;
   margin-top:17px;
   height: 20px;
   width: 100px;
   background-color: blueviolet;
   color: white;
}

.edit {
      margin-top: 15px; 
      height: 20px;
      width: 100px;
      background-color: blueviolet;
      color: white;
}
li {
    position: relative;
    border: 2px solid black;
    width: 400px;
    height: 100px;
    margin-top:50px;
    font-size: 20px;
    margin-left: 480px;
    
}
/* l{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
} */